@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@500&family=Silkscreen&display=swap');

body{
    background-color: #FFFFFF;
}

#bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 130px;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#wishlist{
    margin-left: 50px;
    margin-right: auto;
    height: 30px;
    width: 30px;
    border-radius: 1.5vw;
    background-color: #D9D9D9;
    outline: none;
    border: 0px solid #99ff9000;
    background-image: url('/frontend/icons/wishlist.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 6px 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#wishlist:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#search{
    background-color: #D9D9D9;
    border: none;
    outline: none;
    user-select: none;
    border-radius: 1.5vw;
    padding-left: 40px;
    padding-right: 15px;
    font-family: Inter;
    background-image: url('/frontend/icons/search.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
    height: 30px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#search:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#sector{
    background-color: #D9D9D9;
    border: none;
    outline: none;
    user-select: none;
    border-radius: 1.5vw;
    padding-left: 40px;
    padding-right: 15px;
    font-family: Inter;
    background-image: url('/frontend/icons/sector.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 13px;
    height: 30px;
    width: 60px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#sector:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#location{
    background-color: #D9D9D9;
    border: none;
    outline: none;
    user-select: none;
    border-radius: 1.5vw;
    padding-left: 35px;
    padding-right: 15px;
    font-family: Inter;
    background-image: url('/frontend/icons/location.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px;
    height: 30px;
    width: 60px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#location:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#center{
    background-color: #D9D9D9;
    border: none;
    outline: none;
    user-select: none;
    border-radius: 1.5vw;
    padding-left: 37px;
    padding-right: 15px;
    font-family: Inter;
    background-image: url('/frontend/icons/center.svg');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 10px;
    height: 30px;
    width: 60px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#center:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#create-button{
    background-color: #D9D9D9;
    border: none;
    outline: none;
    user-select: none;
    border-radius: 1.5vw;
    padding-left: 37px;
    padding-right: 15px;
    font-family: Inter;
    color: #A3A3A3;
    background-image: url('/frontend/icons/create.svg');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 10px;
    height: 30px;
    width: 90px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#create-button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#settings{
    margin-left: auto;
    margin-right: 50px; 
    height: 30px;
    width: 30px;
    border-radius: 1.5vw;
    background-color: #D9D9D9;
    outline: none;
    border: 0px solid #99ff9000;
    background-image: url('/frontend/icons/settings.svg');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 7px 7px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#settings:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#scroller{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 147px);
    background-color: #FFFFFF;
    overflow-y:auto;
    align-items: center;
    gap: 24px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FFFFFF;
    /* border-radius: 10px; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A3A3A3;
  }

  /* #to-blur{
    display: none;
  } */

  #create-choice{
    z-index: 2;
    transform: translate(-50%, -50%);
    position: absolute;
    display: none;
    flex-direction: column;
    background: transparent;
    top:50%;
    left:50%;
    width: 180px;
    gap:24px;
    padding:10px;
    margin:10px;
    border-radius: 20px;
  }

  .choice{
    font-family: Inter;
    background-color: #989898;
    color: #FFFFFF;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.choice:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
